@model ProTechTiveGear.Models.ItemType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Loại Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
           Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập Nhập", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
